:root {
    --background-color: #FFF;
    --hover-color: #7BAAE2;
    --link-color: #2E3440;
    --outline-color: #2E3440;
    --toggle-color: #2E3440;
    --footertext-color: #C7C7C7;
}

[data-theme="dark"] {
    --background-color: #2E3440;
    --hover-color: #5E81AC;
    --link-color: #ECEFF4;
    --outline-color: #ECEFF4;
    --toggle-color: #ECEFF4;
    --footertext-color: #4C566A;
}

html {background: var(--background-color); transition: background ease-in-out .3s;}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-height: 100vh;
    font-family: "Manrope", sans-serif;
    margin: 0 auto;
    overflow: hidden;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

body::-webkit-scrollbar {display: none;}
.middlebox::-webkit-scrollbar {display: none;}

#anchor {
    vertical-align: middle;
    font-size: calc(7.21px + (35 - 7.21) * ((100vh - 197px) / (956 - 197)));
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

a {text-decoration: none;}
.title, #add, #search, #browse, #log, #settings, #login, #register {color: var(--link-color)}
.title, #add, #search, #browse, #log, #settings, #login, #register {transition: color ease-in-out .3s;}
#add:hover, #search:hover, #browse:hover, #log:hover, #settings:hover, #login:hover, #register:hover {color: var(--hover-color); transition: none;}
a:visited, a:active {text-decoration: none; color: var(--link-color)}

.flex {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

#add::after {content: "\a"; white-space: pre;}
#search::after {content: "\a"; white-space: pre;}
#browse::after {content: "\a"; white-space: pre;}
#log::after {content: "\a"; white-space: pre;}

#login::after {content: "\a"; white-space: pre;}
#register::after {content: "\a"; white-space: pre;}

.left {
    flex: 1;
    margin-right: calc(6.18px + (30 - 6.18) * ((100vh - 197px) / (956 - 197)));
}

.title {
    white-space: nowrap;
    text-align: right;
    font-size: calc(7.21px + (35 - 7.21) * ((100vh - 197px) / (956 - 197)));
    margin-bottom: calc(108.15px + (525 - 108.15) * ((100vh - 197px) / (956 - 197)));
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.menu {
    white-space: nowrap;
    text-align: right;
    font-size: calc(7.21px + (35 - 7.21) * ((100vh - 197px) / (956 - 197)));
    line-height: calc(11.33px + (55 - 11.33) * ((100vh - 197px) / (956 - 197)));
}

.middlebox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    max-width: 55.5vw;
    width: fit-content;
    height: 90vh;
    aspect-ratio: 3/3.99;
    overflow: auto;
    outline: 1px solid var(--outline-color);
    transition: outline ease-in-out .3s;
    z-index: 1;
}

#imagediv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    max-width: 55.5vw;
    width: fit-content;
    height: 90vh;
    aspect-ratio: 3/3.99;
    background: var(--background-color);
    color: var(--link-color);
    outline: 1px solid var(--outline-color);
    transition: all ease-in-out .3s;
    transition-property: background, color, outline;
    z-index: 2;
    padding: 2px;
    outline-offset: -2px;
}

#top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 20px;
    outline: 1px solid var(--outline-color);
    transition: outline ease-in-out .3s;
}

#closeicon {    
    font-size: calc(7.21px + (35 - 7.21) * ((100vh - 197px) / (956 - 197)));
    color: var(--link-color);
    transition: color ease-in-out .3s;
    margin-top: 4px;
    margin-right: 28px;
}

#close {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}

#accountname {
    font-size: calc(7.21px + (35 - 7.21) * ((100vh - 197px) / (956 - 197)));
    margin-left: 40px;
    margin-bottom: 6px;
}

#bigimage {
    border-top: 1px solid var(--outline-color);
    border-bottom: 1px solid var(--outline-color);
    transition: border ease-in-out .3s;
    width: 100%;
    height: auto;
}

#bottomtext {
    display: flex;
    font-size: calc(4.12px + (20 - 4.12) * ((100vh - 197px) / (956 - 197)));
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
}

.collage {
    width: 100%;
    height: auto;
    outline: 1px solid var(--outline-color);
    transition: outline ease-in-out .3s;
}

.imagebutton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.333333%;
    height: auto;
    padding: 0px;
    margin: 0px;
    border: 0;
    cursor: pointer;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    outline: 0;
}

#checkbox {
    margin-top: 5px;
    margin-left: -8px;
}

.right {
    flex: 1;
    margin-left: calc(6.18px + (30 - 6.18) * ((100vh - 197px) / (956 - 197)));
    font-size: calc(7.21px + (35 - 7.21) * ((100vh - 197px) / (956 - 197)));
}

.account {
    margin-bottom: calc(103px + (571 - 103) * ((100vh - 197px) / (956 - 197)));
}

footer {
    white-space: nowrap;
    max-width: 200px;
    font-size: calc(4.12px + (20 - 4.12) * ((100vh - 197px) / (956 - 197)));
    color: var(--footertext-color);
    transition: color ease-in-out .3s;
}

#toggle {
    font-size: calc(7.21px + (35 - 7.21) * ((100vh - 197px) / (956 - 197)));
    cursor: pointer;
    color: var(--toggle-color);
    transition: color ease-in-out .3s;
	display: inline;
    vertical-align: middle;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

@media only screen and (max-width: 1166px) {

    #add::after {content: "  ";}
    #search::after {content: "\a"; white-space: pre;}
    #browse::after {content: "  ";}
    #log::after {content: "  ";}
    #login::after {content: "    ";}

    .left {
        margin-right: 0px;
        margin-top: 0px;
    }

    .title {
        text-align: left;
        margin-bottom: 0px;
    }

    .menu {
        text-align: left;
        line-height: normal;
        padding-bottom: 7px;
    }

    .flex {
        flex-direction: column;
    }

    .middlebox {
        max-width: 91vw;
        height: 70vh;
    }

    #imagediv {
        margin-top: 10px;
        max-width: 91vw;
        height: 70vh;
    }

    #checkbox {
        margin-top: 0px;
    }

    .right {
        display: flex;
        margin-left: 0px;
        flex-direction: column;
        align-items: center;
    }
    
    .account {
        display: flex;
        align-items: center;
        margin-bottom: 0px;
        justify-content: center;
    }

    footer {
        display: flex;
        align-items: center;
        margin-bottom: 0px;
        justify-content: center;
    }

    .footertext {
        margin-right: 30px;
        text-align: center;
    }
}