doctype html
head
  meta(charset='UTF-8')
  title login
  link(href='https://fonts.googleapis.com/css2?family=Manrope&family=Open+Sans:wght@300&display=swap' rel='stylesheet')
  link(href='style1.css' rel='stylesheet')
article
  h1 login
  form.form-signin(method='POST' action='/login')
    p  
    input#inputEmail(type='email' name='username' placeholder='email address' required='required' autofocus='autofocus')
    p  
    input#inputPassword(type='password' name='password' placeholder='password' required='required' autofocus='autofocus')
    p
    button.btn.btn-lg.btn-primary.btn-block(type='submit') log in
    br
    br
    br
    a(href='/register')
      button need to register first?


